@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./icons/dropdown-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10% center;
  background-size: 12px;
  padding: 6px 28px 6px 18px;
  cursor: pointer;
  line-height: 1.25;
}

.dropdown-menu {
  @apply absolute right-0 w-24 py-2 mt-2 bg-white hover:bg-gray-100 rounded-lg drop-shadow-lg border-2 border-gray-400;
}
.dropdown-menu-item {
  @apply flex py-2 px-3 text-gray-700 hover:bg-gray-300 hover:text-black cursor-pointer;
}
