@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./icons/dropdown-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10% center;
  background-size: 12px;
  padding: 6px 28px 6px 18px;
  cursor: pointer;
}
